/CheXpert/CheXpert-v1.0-small/train/
/CheXpert/CheXpert-v1.0-small/valid/
/Covid/dataset/images/
/XreyAbnormalities/dataset/ChinaSet_AllFiles/
/XreyAbnormalities/dataset/Montgomery/MontgomerySet/
/Pneumonia/dataset/
/.idea/
